@using BookStore.Models.ViewModel
@model AuthorVMForm 

@section MinTitel {
    @(Model?.Id == null ? "Create" : "Edite")
}
<form asp-controller="Author">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Author Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" asp-controller="Author">
        @(Model?.Id == null ? "Create" : "Edite")
    </button>
</form> 